@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #020617;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* RESET */
html, body, #app{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}